.lessons_container{
    display: flex;
    flex-direction: row;
}

.lesson_name{
    width: 25vw;
    padding: 20px 0px;
}

.lesson_name a{
    display: flex;
    align-content: center;
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-family: sans-serif;
    margin: 5px 0;
    transition: 0.25s;
    padding: 15px 10px;
}

.lesson_name a:hover{
    background-color: rgb(1, 1, 255);
    color: white;
    border-radius: 0 10px 10px 0;
}

.lesson{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75vw;
    overflow: hidden;
    /* height: 100vh; */
}

.lesson h2{
    font-weight: 600;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}

.lesson p{
    font-size: 25px;
    line-height: 30px;
    color: rgb(58, 58, 58);
    width: 70vw;
    margin: 0;
    padding-bottom: 30px;
}